

#content {
    margin: 0 auto;
    width: 1000px;
}

#header {
    display: flex;
    justify-content: space-between;
}

#header>div{
    font-size: 26px;
    font-weight: bold;
}

#header>select{
    margin-left: 500px;
}

#table{
    margin-top: 10px;
    
}

#table>table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid black;
}

tr, th, td {
    width: 164px;
    height: 50px;
    background-color: #cccc11;
    border: 1px solid black;
    margin: 0;
    text-align: center;
    
}

.table-header{
    background-color: #ccc;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold; 
    text-align: center;
}

.busy-slot {
    position: relative;
    background-color: green;
}

.delete-icon{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.modal {   
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);  
}

.modal-dialog {
    max-width: 500px;
    margin: 40px auto;
}

#modal-content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto
}

.modal-content img {
    padding-top: 50px;
    padding-right: 50px;
}

.modal-dialog-header {
    position: relative;
}


#modal-btn-no{
    color: #000;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 300px;
    width: 65px;
}

.modal-dialog-message{    
    font-size: 30px;
    font-weight: bold;
    line-height: 7em;
    
}

#modal-btn-yes{
    color: #000;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 300px;
    width: 65px;
}

.show {
    display: block;
}

.hide {
    display: none;
}









