#content {
    margin: 0 auto;
    width: 1000px;
}

#team{
    height: 30px;
    width: 80px;
}

#header {
    display: flex;
    justify-content: space-between;
}

#header>div{
    font-size: 26px;
    font-weight: bold;
}

#header>select{
    margin-left: 500px;
}

#table{
    margin-top: 10px;
    
}

#table>table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid black;
}

tr, th, td {
    width: 164px;
    height: 50px;
    background-color: #cccc11;
    border: 1px solid black;
    margin: 0;
    text-align: center;
    
}

.table-header{
    background-color: #ccc;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold; 
    text-align: center;
}

.busy-slot {
    position: relative;
    background-color: green;
}

.delete-icon{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.modal {   
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);  
}

.modal-dialog {
    max-width: 500px;
    margin: 40px auto;
}

#modal-content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto
}

.modal-content img {
    padding-top: 50px;
    padding-right: 50px;
}

.modal-dialog-header {
    position: relative;
}


#modal-btn-no{
    color: #000;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 300px;
    width: 65px;
}

.modal-dialog-message{    
    font-size: 30px;
    font-weight: bold;
    line-height: 7em;
    
}

#modal-btn-yes{
    color: #000;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 300px;
    width: 65px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#error-bar{
    height: 80px;
    background-color: #FFCACA;
    display: none;
    position: relative;
    
}

#error-bar img{
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left: 10px;
}

#error-message{
    margin-left: 20px;
    margin-top: 23px;
    font-size: 30px;
    font-weight: bold;
    color: red;
    
}

#error-close{
    position: absolute;
    color: red;
    right: 1%;
    top: 3%;
    cursor: pointer;
    font-size: 30px;
    transform: rotate(45deg);
}


#create-event-header{
    font-size: 40px;
    text-align: center;
}

.add-event-page{
  position: relative;
    margin: 0 auto;
    width: 400px;
    font-size: 24px;
}


.event-property {
    position: relative;
    margin-top: 20px;
    
}

.event-property form{
    position: absolute;
    right: 0px;
    
}

.participants {
    display: flex;
}

.select-participants {
    position: relative;
    width: 120px;
    
    
  }
  
  #select-box {
    position: absolute;
    right: 0px;
    
  }

  .select-box select {
    width: 120px;
    font-weight: bold;
  }
  
  .over-select {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    position: absolute;
    display: none;
    border: 1px #dadada solid;
    background-color: #fff;
    z-index: 10;
    top: 24px;
    width: 120px;
  }
  
  #checkboxes div {
    display: block;
    font-size: 15px;
  }
  #checkboxes hr {
    margin: 0;
  }
  
  #checkboxes div:hover {
    background-color: #1e90ff;
  }

.create-event-input{
  position: absolute;
  right: 0;
  font-size: 15px;
  margin-top: 5px;
  z-index: 5;
}

.event-create-btns{
  display: flex;
  justify-content: center;
}

.event-create-btn{
  margin-left: 20px;
  font-size: 20px;
}








